@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
	/* Colors */
	--almost-white: hsl(0, 0%, 98%);
	--medium-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);

	/* Font Weights */
	--wgt-500: 500;
	--wgt-700: 700;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Epilogue", sans-serif;
	font-size: 18px;
}

body {
	min-height: 100vh;
	background-color: var(--almost-white);
}

#menu-btn,
#close-btn,
#darkness {
	display: none;
}

header,
nav,
nav > ul {
	display: flex;
}

header {
	gap: 3.5rem;
	align-items: center;
	padding: 1.3rem 2.5rem;
}

.logo-img img {
	position: relative;
	top: 4px;
}

nav ul {
	list-style: none;
}

.nav-container,
.primary-nav {
	flex-grow: 1;
}

nav > ul {
	gap: 1.5rem;
	align-items: center;
}

.nav__button > a {
	display: block;
	color: var(--medium-gray);
	font-size: 15px;
	text-decoration: none;
	padding: 0.5rem;
}

.nav__button > a img {
	display: inline-block;
	vertical-align: bottom;
}

.nav__button.dropdown {
	position: relative;
}

.nav__button.dropdown > a::after {
	display: inline-block;
	content: "";
	width: 16px;
	height: 8px;
	background: url(images/icon-arrow-down.svg) no-repeat center;
	margin-left: 0.3rem;

	transition: rotate 0.2s ease-in-out;
}

/* Register button */
.secondary-nav > .nav__button:last-child > a {
	border: 2px solid var(--medium-gray);
	padding: 0.75rem 1.25rem;
	border-radius: 1rem;
}

.nav__button > a:hover {
	color: var(--almost-black);
}

.secondary-nav {
	gap: 2rem;
}

/* Register button hover */
.secondary-nav > .nav__button:last-child > a:hover {
	border-color: var(--almost-black);
}

.nav__button.dropdown > .wrapper {
	position: absolute;
	top: 45px;
	z-index: 1;

	background-color: var(--almost-white);
	padding: 1rem;
	border-radius: 0.75rem;
	box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.05);

	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s;
}

.nav__button > a > img {
	margin-right: 0.5rem;
	width: 17px;
	height: 17px;
	object-fit: none;
}

.nav__button.dropdown.features > .wrapper {
	right: 0;
	width: 180px;
}

.nav__button.dropdown.company > .wrapper {
	left: 0;
	width: 130px;
}

.nav__button.dropdown:focus-within > a::after {
	rotate: -180deg;
}

.nav__button.dropdown:focus-within > .wrapper,
.nav__button.dropdown[data-test] > .wrapper {
	pointer-events: auto;
	opacity: 1;
}

@media (max-width: 940px) {
	#menu-btn,
	#close-btn,
	#darkness {
		display: block;
	}

	#menu-btn,
	#close-btn {
		cursor: pointer;
		user-select: none;
	}

	header {
		justify-content: space-between;
	}

	.nav-container,
	nav,
	#darkness {
		position: fixed;
		top: 0;
	}

	#darkness {
		left: 0;
		z-index: 9;

		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);

		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	.nav-container[data-mobile-active] #darkness {
		opacity: 1;
		pointer-events: auto;
	}

	nav {
		--width: min(66%, 275px);

		right: calc(var(--width) * -1);
		z-index: 10;

		gap: 1.5rem;
		padding: 1rem;

		background-color: var(--almost-white);
		height: 100vh;
		width: var(--width);

		transition: right 0.3s ease-in-out;
	}

	.nav-container[data-mobile-active] nav {
		right: 0;
	}

	nav,
	nav > ul {
		flex-direction: column;
	}

	.close-btn__outer {
		display: flex;
		justify-content: end;
	}

	.primary-nav {
		flex-grow: 0;
		align-items: start;
		gap: 0.5rem;
	}

	.secondary-nav {
		align-items: stretch;
		text-align: center;
		gap: 0.5rem;

		padding: 0 0.5rem;
	}

	.primary-nav > .nav__button > a {
		font-size: 16px;
	}

	.secondary-nav > .nav__button > a {
		font-size: 14px;
	}

	/* Register button */
	.secondary-nav > .nav__button:last-child > a {
		padding: 0.75rem;
		border-radius: 0.75rem;
	}

	.nav__button.dropdown > .wrapper {
		position: static;

		display: grid;
		grid-template-rows: 0fr;

		box-shadow: none;
		padding: 0 1.5rem;
		opacity: 1;

		transition: grid-template-rows 0.25s ease-in-out, padding 0.25s ease-in-out;
	}

	.nav__button.dropdown > .wrapper > ul {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		overflow: hidden;
	}

	.nav__button.dropdown:focus-within > .wrapper {
		padding: 0.5rem 1.5rem 0.1rem;
		grid-template-rows: 1fr;
	}

	.nav__button.dropdown.company > .wrapper,
	.nav__button.dropdown.features > .wrapper {
		width: 100%;
	}
}

@media (max-width: 830px) {
	header {
		padding: 1.25rem 1rem;
	}
}




main {
	display: grid;
    grid-template-columns: 1fr 1fr;
	gap: 3rem;

	max-width: 1200px;
	margin: auto;
	padding: 3rem 2.5rem 0;
}

section {
	max-width: 480px;
}

section:first-child {
	justify-self: start;
}

section:last-child {
	justify-self: end;
}

section:first-child, .hero-text {
	display: flex;
	flex-direction: column;
}


.hero-text {
	flex-grow: 1;
    justify-content: center;
    gap: 3rem;
}

h1 {
    font-weight: var(--wgt-700);
    color: var(--almost-black);
    font-size: 4rem;
}

p {
    color: var(--medium-gray);
    line-height: 1.5rem;
    width: 90%;
}

.hero-cta {
    display: block;
    text-decoration: none;

    background-color: var(--almost-black);
    color: var(--almost-white);
    /* font-size: 15px; */
    font-weight: var(--wgt-700);

    width: fit-content;

    padding: 1rem 1.6rem;
    border-radius: .75rem;
    border: 1px solid var(--almost-black);
}

.hero-cta:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
}

.client-logos {
    display: flex;
    justify-content: space-between;
}

.client-logos img {
    object-fit: none;
	width: 100%;
}

section:last-child img {
	width: 100%;
}

img[src="images/image-hero-mobile.png"] {
	display: none;
}

@media (max-width: 1090px) {
	h1 {
		font-size: 3.5rem;
	}

	.client-logos img {
		object-fit: scale-down;
	}
}

@media (max-width: 970px) {
	.hero-text {
		gap: 1.5rem;
	}

	h1 {
		font-size: 2.5rem;
	}

	p, .hero-cta {
		font-size: 16px;
	}
}

@media (max-width: 830px) {
	main {
		display: flex;
		flex-direction: column-reverse;
		gap: 2rem;
		padding: 0;
	}

	section {
		max-width: unset;
	}

	section:first-child {
		align-items: stretch;
		gap: 2.5rem;
		padding: 1rem;
	}

	section > * {
		text-align: center;
	}

	.hero-text {
		align-items: center;
		gap: 1rem;
	}

	h1 {
		font-size: 1.9rem;
	}

	p {
		width: 100%;
		max-width: 600px;
		padding-bottom: .5rem;
	}

	.hero-cta {
		/* padding: 1rem 1.6rem; */
		padding: .85rem 1.25rem;
	}

	.client-logos {
		margin: auto;
		max-width: 600px;
		gap: 1rem;
	}

	section:last-child {
		display: flex;
		justify-content: center;
	}

	section:last-child img {
		max-width: 500px;
	}

	img[src="images/image-hero-desktop.png"] {
		display: none;
	}
	img[src="images/image-hero-mobile.png"] {
		display: block;
	}
}
